@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
      font-family: "Montserrat", montserrat;
    }

    body {
      height: 100vh;
      overflow-x: hidden;
      scroll-behavior: smooth;
    }
}

h1 {
  font-size: 2.25rem;
  font-weight: inherit;
  color: rgb(181, 247, 225);
}